<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="8">
    <div class="formname">
      <b> {{ formTitle }} </b>
    </div>
  </div>

  <div nz-col nzXs="24" nzSm="24" nzMd="4" nzLg="6" nzXl="16" style="display: flex; justify-content: flex-end">
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" name="search" nz-input placeholder="Search Records" (keyup)="keyup($event)"
            [(ngModel)]="searchText" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search(true)" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i>Add New Question Subject
        </button>
      </nz-form-item>
    </form>
  </div>
</div>
<br />
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table class="my-scroll no-wrap1" nzBordered #questionsubjectlist nzShowSizeChanger [nzFrontPagination]="false"
      [nzData]="dataList" [nzLoading]="loadingRecords" nzSize="small" [nzTotal]="totalRecords"
      [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)" (nzQueryParams)="sort($event)"
      [nzScroll]="roleId !== 2 ? { x: '1200px', y: '55vh' } : { y: '55vh' }">
      <thead>
        <tr>
          <th nzWidth="30px" nzLeft>Action</th>
          <th nzWidth="50px" nzColumnKey="{{ 'CLASS_NAME' }}" [nzSortFn]="true">
            Class
          </th>
          <th nzWidth="90px" nzColumnKey="{{ 'BOARD_NAME' }}" [nzSortFn]="true">
            Board Name
          </th>
          <th nzWidth="90px" nzColumnKey="{{ 'BOARD_MEDIUM_NAME' }}" [nzSortFn]="true">
            Board Medium Name
          </th>
          <th nzWidth="110px" nzColumnKey="{{ 'NAME' }}" [nzSortFn]="true">
            Subject
          </th>
       
          <!-- <th nzColumnKey="{{ 'SEQ_NO' }}" [nzSortFn]="true" nzWidth="35px" style="text-align: center">
            Seq. No.
          </th> -->
          <th nzWidth="30px" nzColumnKey="{{ 'STATUS' }}" [nzSortFn]="true">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of questionsubjectlist.data">
          <td align="center" nzLeft>
            <a (click)="edit(data)" nz-tooltip nzTooltipTitle="Edit">
              <span nz-icon nzType="edit" nzTheme="twotone" style="font-size: 15px"></span>
            </a>
          </td>
          <td style="white-space: pre-line; text-align: left">
            {{ data["CLASS_NAME"] }}
          </td>
          <td nz-tooltip
          [nzTooltipTitle]="data['BOARD_NAME']" class="Elipsis">
            {{ data["BOARD_NAME"] }}
          </td>
          <td nz-tooltip
          [nzTooltipTitle]="data['BOARD_MEDIUM_NAME']" class="Elipsis">
            {{ data["BOARD_MEDIUM_NAME"] }}
          </td>
          <td style="white-space: pre-line; text-align: left">
            {{ data["NAME"] }}
          </td>
   
          <!-- <td style="text-align: center">{{ data["SEQ_NO"] }}</td> -->

          <td align="center">
            <i nz-icon *ngIf="data['STATUS']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"></i>
            <i nz-icon *ngIf="!data['STATUS']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<div *ngIf="drawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="YearWidth" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <div>
        <form nz-form #questionsubjec="ngForm">
          <nz-spin [nzSpinning]="isSpinning">
            <div nz-row class="custom-form-item">
              <div nz-col nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="10" nzXl="8">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon> Class </nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Please Select Class ">
                    <nz-select [nzLoading]="classesload" nzShowSearch nzAllowClear require nzPlaceHolder="Class"
                      name="classnm" [(ngModel)]="drawerData.CLASS_ID" required>
                      <nz-option *ngFor="let report of Questionclasses" [nzValue]="report.ID" [nzLabel]="report.NAME">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="14" nzXl="16">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon> Board</nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Please Select Board ">
                    <nz-select [nzLoading]="boarddataLoad" nzShowSearch nzAllowClear nzPlaceHolder="Select Board"
                      name="Board" [(ngModel)]="drawerData.BOARD_ID" required>
                      <nz-option *ngFor="let report of board" [nzValue]="report.ID" [nzLabel]="report.NAME">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="8">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>Board Medium</nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip="Please Select Board Medium">
                    <nz-select [nzLoading]="boarddataLoad" nzShowSearch nzAllowClear nzPlaceHolder="Board Medium"
                      name="boardmedium" [(ngModel)]="drawerData.BOARD_MEDIUM_ID" required>
                      <nz-option *ngFor="let medium of boardmedium" [nzValue]="medium.ID" [nzLabel]="medium.NAME">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col nzSpan="16">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>
                    Question Subject
                  </nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip=" Please Enter Correct Question Subject ">
                    <input nz-input name="name" placeholder="Enter Question Subject" [(ngModel)]="drawerData.NAME"
                      maxlength="256" required />
                  </nz-form-control>
                </nz-form-item>
              </div>


              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>
                    Sequence No.
                  </nz-form-label>
                  <nz-form-control nzHasFeedback nzErrorTip=" Please Enter Correct Sequence Number ">
                    <input nz-input placeholder="Sequence No." name="seqno" style="width: 100%" minlength="1"
                      [(ngModel)]="drawerData.SEQ_NO" (keypress)="commonFunction.omit($event)" maxlength="5" required disabled/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="4" style="margin-left: 6px">
                <nz-form-item>
                  <nz-form-label nzNoColon> Status </nz-form-label>
                  <nz-form-control>
                    <nz-switch name="yearstatus" [(ngModel)]="drawerData.STATUS"   nzCheckedChildren="Active"
                    nzUnCheckedChildren="InActive"></nz-switch>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </nz-spin>
        </form>

        <div class="footer">
          <button type="button" nz-button (click)="close()" class="ant-btn" style="margin-right: 8px">
            <span> Cancel </span>
          </button>
          <button type="button" class="ant-btn ant-btn-primary" *ngIf="!drawerData.ID" nz-button nz-dropdown
            [nzDropdownMenu]="menu"  [nzLoading]="isSpinning"   (click)="save(false, questionsubjec)">
            <span> Save & Close</span>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item class="menuc" style="border-radius: 4px; background-color: #40a9ff">
                <a style="color: white" (click)="save(true, questionsubjec)">
                  Save & New</a>
              </li>
            </ul>
          </nz-dropdown-menu>
          <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="drawerData.ID"
            (click)="save(false, questionsubjec)">
            <span> Update & Close</span>
          </button>
        </div>
      </div>
    </ng-container>
  </nz-drawer>
</div>