<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="12">
    <div class="formname">
      <b> {{ formTitle }} </b>
    </div>
  </div>

  <div
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="4"
    nzLg="6"
    nzXl="12"
    style="display: flex; justify-content: flex-end"
  >
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input
            type="text"
            name="search"
            (keyup)="keyup($event)"
            [(ngModel)]="searchText"
            nz-input
            placeholder="Search"
          />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search(true)" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i>Add New Coupon
        </button>
      </nz-form-item>
    </form>
  </div>
</div>
<br />
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table
      class="my-scroll no-wrap1"
      nzBordered
      #postTable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="dataList"
      [nzLoading]="loadingRecords"
      [nzSize]="'small'"
      [nzTotal]="totalRecords"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)"
      (nzQueryParams)="sort($event)"
      [nzScroll]="{ x: '800px', y: '55vh' }"
    >
      <thead>
        <tr>
          <th nzWidth="30px" style="text-align: center"><b>Action</b></th>
          <th
            nzWidth="100px"
            nzColumnKey="{{ 'COUPON_CODE' }}"
            style="text-align: center"
            [nzSortFn]="true"
          >
            <b>Coupon Code </b>
          </th>

          <th
            nzWidth="60px"
            nzColumnKey="{{ 'VALUE' }}"
            style="text-align: center"
            [nzSortFn]="true"
          >
            <b> Value (in ₹) </b>
          </th>

          <th
            nzWidth="80px"
            nzColumnKey="{{ 'CREATED_DATE' }}"
            style="text-align: center"
            [nzSortFn]="true"
          >
            <b> Start Date Time </b>
          </th>

          <th
            nzWidth="80px"
            nzColumnKey="{{ 'EXPIRE_DATE' }}"
            style="text-align: center"
            [nzSortFn]="true"
          >
            <b> Expire Date Time </b>
          </th>
          <th
            nzWidth="30px"
            nzColumnKey="{{ 'STATUS' }}"
            style="text-align: center"
            [nzSortFn]="true"
          >
            <b> Status </b>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of postTable.data">
          <td style="text-align: center">
            <i
              nz-icon
              nzType="edit"
              nz-tooltip
              nzTooltipTitle="Edit"
              nzTheme="twotone"
              (click)="edit(data)"
            ></i>
          </td>

          <td nz-tooltip [nzTooltipTitle]="data['COUPON_CODE']" class="Elipsis">
            {{ data["COUPON_CODE"] }}
          </td>
          <td style="white-space: pre-line; text-align: center">
            {{ data["VALUE"] ? "₹ " + data["VALUE"] : "" }}
          </td>

          <td style="white-space: pre-line; text-align: center">
            {{ data["CREATED_DATE"] | date : "dd/MMM/yyyy HH:mm" }}
          </td>
          <td style="white-space: pre-line; text-align: center">
            {{ data["EXPIRE_DATE"] | date : "dd/MMM/yyyy HH:mm" }}
          </td>
          <td style="text-align: center; white-space: pre-line">
            <i
              nz-icon
              *ngIf="data['STATUS']"
              [nzType]="'check-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"
            ></i>
            <i
              nz-icon
              *ngIf="!data['STATUS']"
              [nzType]="'close-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"
            ></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<div *ngIf="drawerVisible">
  <nz-drawer
    [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }"
    [nzClosable]="true"
    [nzMask]="true"
    [nzMaskClosable]="false"
    [nzWidth]="500"
    [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle"
    (nzOnClose)="drawerClose()"
    (nzKeyboard)="(true)"
  >
    <ng-container *nzDrawerContent>
      <div>
        <!-- <form nz-form #form32> -->
        <form nz-form #subscriptionspage="ngForm">
          <nz-spin [nzSpinning]="isSpinning">
            <div nz-row class="custom-form-item">
              <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>
                    Coupon Code
                  </nz-form-label>
                  <nz-form-control
                    nzHasFeedback
                    nzErrorTip="Please Enter Coupon Code "
                  >
                    <input
                      nz-input
                      name="coupon"
                      autocomplete="off"
                      placeholder="Enter Coupon Code"
                      [(ngModel)]="drawerData.COUPON_CODE"
                      maxlength="64"
                      required
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div
                nz-col
                nz-col
                nzXs="24"
                nzSm="24"
                nzMd="24"
                nzLg="12"
                nzXl="12"
              >
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon> Value </nz-form-label>
                  <nz-form-control
                    nzHasFeedback
                    nzErrorTip="Please Enter Value "
                  >
                    <nz-input-group nzAddOnBefore="₹">
                      <input
                        nz-input
                        name="valueofcoupon"
                        autocomplete="off"
                        placeholder="Enter Value"
                        [(ngModel)]="drawerData.VALUE"
                        (keypress)="commonFunction.onlynumdot($event)"
                        maxlength="6"
                        required
                      />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon
                    >Start Date Time</nz-form-label
                  >
                  <nz-form-control
                    nzHasFeedback
                    nzErrorTip="Please Select Start Date Time"
                  >
                    <nz-date-picker
                      [(ngModel)]="drawerData.CREATED_DATE"
                      name="createddate"
                      nzFormat="dd/MMM/yyyy HH:mm"
                      style="width: 100%"
                      required
                      [nzShowTime]="{ nzFormat: 'HH:mm' }"
                      [nzDisabledDate]="disabledStartDate"
                    ></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>

              <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon
                    >Expire Date Time</nz-form-label
                  >
                  <nz-form-control
                    nzHasFeedback
                    nzErrorTip="Please Select Expire Date Time"
                  >
                    <nz-date-picker
                      [(ngModel)]="drawerData.EXPIRE_DATE"
                      name="expiredate"
                      [nzShowTime]="{ nzFormat: 'HH:mm' }"
                      nzFormat="dd/MMM/yyyy HH:mm"
                      style="width: 100%"
                      required
                      [nzDisabledDate]="disabledEndDate"
                    ></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label nzNoColon> Status </nz-form-label>
                  <nz-form-control>
                    <nz-switch
                      name="status"
                      [(ngModel)]="drawerData.STATUS"
                      nzCheckedChildren="Active"
                      nzUnCheckedChildren="InActive"
                    ></nz-switch>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </nz-spin>
        </form>
      </div>

      <div class="footer">
        <button
          type="button"
          nz-button
          (click)="close()"
          class="ant-btn"
          style="margin-right: 8px"
        >
          <span>Close</span>
        </button>
        <button
          type="button"
          class="ant-btn ant-btn-primary"
          *ngIf="!drawerData.ID"
          nz-button
          nz-dropdown
          [nzDropdownMenu]="menu"
          [nzLoading]="isSpinning"
          (click)="save(false, subscriptionspage)"
        >
          <span>Save And Close</span>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li
              nz-menu-item
              class="menuc"
              style="border-radius: 4px; background-color: #40a9ff"
            >
              <a style="color: white" (click)="save(true, subscriptionspage)"
                >Save And New</a
              >
            </li>
          </ul>
        </nz-dropdown-menu>
        <button
          type="button"
          class="ant-btn ant-btn-primary"
          nz-button
          [nzLoading]="isSpinning"
          *ngIf="drawerData.ID"
          (click)="save(false, subscriptionspage)"
        >
          <span>Update And Close</span>
        </button>
      </div>
    </ng-container>
  </nz-drawer>
</div>
