.headerbg thead tr th {
    text-align: center;
  }

  h3{
    text-decoration: underline;
    font-size: larger;
    color:#330033;

}

b{
  color:#955454 !important;
}

.custom-css-form-item nz-form-item{
  display: inline-block;
  margin-bottom: 5px;
  width: -webkit-fill-available;
  padding: 0px 10px;
}


/* nz-select{
  width: 100%;
} */