<!-- Header Row -->
<div nz-row nzType="flex">
  <!-- Left side of the header -->
  <div nz-col nzXs="8" nzSm="8" nzMd="24" nzLg="6" nzXl="8">
    <div class="formname">{{ formTitle }}</div>
    <!-- Display the form title -->
  </div>

  <!-- Right side of the header with search and add button -->
  <div
    nz-col
    nzXs="16"
    nzSm="16"
    nzMd="24"
    nzLg="18"
    nzXl="16"
    style="display: flex; justify-content: flex-end"
  >
    <form nz-form [nzLayout]="'inline'">
      <!-- Search Input -->
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input
            type="text"
            name="search"
            nz-input
            placeholder="Search Records"
            [(ngModel)]="searchText"
          />
        </nz-input-group>
        <!-- Search Button -->
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search()" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>

      <!-- Add New User Button -->
      <nz-form-item>
        <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i>Add New School
        </button>
      </nz-form-item>
    </form>
  </div>
</div>

<br />
<div nz-row>
  <div nz-col nzSpan="2"></div>

  <div nz-col nzSpan="4" style="padding: 5px; cursor: pointer">
    <div style="text-align: center">
      <div nz-row (click)="clickevent('ALL')">
        <div
          nz-col
          nzSpan="6"
          style="
            border: 1px solid blue;
            padding: 5px;
            border-radius: 5px 0 0 5px;
            background-color: rgb(205, 205, 249);
            font-size: 12px;
          "
        >
          <span *ngIf="registercounts != undefined && registercounts != null">{{
            registercounts
          }}</span>
        </div>
        <div
          nz-col
          nzSpan="18"
          [ngStyle]="
            showcolor0 == 1
              ? { background: 'rgb(158 158 209)' }
              : { background: ' rgb(227, 227, 249)' }
          "
          style="
            border: 1px solid blue;
            padding: 5px;
            margin-left: -1px;
            border-radius: 0 5px 5px 0;
            background-color: rgb(227, 227, 249);
            font-size: 12px;
          "
        >
          <!-- All -->
          <span (ngModelChange)="clickevent('all')">All</span>
          <!-- <button (ngModelChange)="clickevent('all')" name="APPROVAL_STATUS" [(ngModel)]="APPROVAL_STATUS" ></button>   -- -->
        </div>
      </div>
    </div>
  </div>

  <div nz-col nzSpan="4" style="padding: 5px; cursor: pointer">
    <div style="text-align: center">
      <div nz-row (click)="clickevent('A')">
        <div
          nz-col
          nzSpan="6"
          style="
            border: 1px solid blue;
            padding: 5px;
            border-radius: 5px 0 0 5px;
            background-color: rgb(205, 205, 249);
            font-size: 12px;
          "
        >
          <span *ngIf="approvedcounts != undefined && approvedcounts != null">{{
            approvedcounts
          }}</span>
        </div>
        <div
          nz-col
          nzSpan="18"
          [ngStyle]="
            showcolor1 == 1
              ? { background: 'rgb(158 158 209)' }
              : { background: ' rgb(227, 227, 249)' }
          "
          style="
            border: 1px solid blue;
            padding: 5px;
            margin-left: -1px;
            border-radius: 0 5px 5px 0;
            background-color: rgb(227, 227, 249);
            font-size: 12px;
          "
        >
          Approved
        </div>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="4" style="padding: 5px; cursor: pointer">
    <div style="text-align: center">
      <div nz-row (click)="clickevent('R')">
        <div
          nz-col
          nzSpan="6"
          style="
            border: 1px solid blue;
            padding: 5px;
            border-radius: 5px 0 0 5px;
            background-color: rgb(205, 205, 249);
            font-size: 12px;
          "
        >
          <span *ngIf="rejectscounts != undefined && rejectscounts != null">{{
            rejectscounts
          }}</span>
        </div>
        <div
          [ngStyle]="
            showcolor2 == 1
              ? { background: 'rgb(158 158 209)' }
              : { background: ' rgb(227, 227, 249)' }
          "
          nz-col
          nzSpan="18"
          style="
            border: 1px solid blue;
            padding: 5px;
            margin-left: -1px;
            border-radius: 0 5px 5px 0;
            background-color: rgb(227, 227, 249);
            font-size: 12px;
          "
        >
          Reject
        </div>
      </div>
    </div>
  </div>

  <div nz-col nzSpan="4" style="padding: 5px; cursor: pointer">
    <div style="text-align: center">
      <div nz-row (click)="clickevent('P')">
        <div
          nz-col
          nzSpan="6"
          style="
            border: 1px solid blue;
            padding: 5px;
            border-radius: 5px 0 0 5px;
            background-color: rgb(205, 205, 249);
            font-size: 12px;
          "
        >
          <span *ngIf="pendingscounts != undefined && pendingscounts != null">{{
            pendingscounts
          }}</span>
        </div>
        <div
          [ngStyle]="
            showcolor3 == 1
              ? { background: 'rgb(158 158 209)' }
              : { background: ' rgb(227, 227, 249)' }
          "
          nz-col
          nzSpan="18"
          style="
            border: 1px solid blue;
            padding: 5px;
            margin-left: -1px;
            border-radius: 0 5px 5px 0;
            background-color: rgb(227, 227, 249);
            font-size: 12px;
          "
        >
          Pending
        </div>
      </div>
    </div>
  </div>

  <div nz-col nzSpan="4" style="padding: 5px; cursor: pointer">
    <div style="text-align: center">
      <div nz-row (click)="clickevent('B')">
        <div
          nz-col
          nzSpan="6"
          style="
            border: 1px solid blue;
            padding: 5px;
            border-radius: 5px 0 0 5px;
            background-color: rgb(205, 205, 249);
            font-size: 12px;
          "
        >
          <span *ngIf="blockedcounts != undefined && blockedcounts != null">{{
            blockedcounts
          }}</span>
        </div>
        <div
          [ngStyle]="
            showcolor4 == 1
              ? { background: 'rgb(158 158 209)' }
              : { background: ' rgb(227, 227, 249)' }
          "
          nz-col
          nzSpan="18"
          style="
            border: 1px solid blue;
            padding: 5px;
            margin-left: -1px;
            border-radius: 0 5px 5px 0;
            background-color: rgb(227, 227, 249);
            font-size: 12px;
          "
        >
          Blocked
        </div>
      </div>
    </div>
  </div>

  <div nz-col nzSpan="2"></div>
</div>

<!-- Table Row -->
<div nz-row>
  <div nz-col nzSpan="24">
    <!-- User Table -->
    <nz-table
      class="my-scroll no-wrap1"
      nzBordered
      #schooltable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="dataList"
      [nzLoading]="loadingRecords"
      [nzTotal]="totalRecords"
      nzSize="small"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()"
      (nzQueryParams)="sort($event)"
      (nzPageSizeChange)="search(true)"
      [nzScroll]="{ x: '3600px', y: '55vh' }"
    >
      <!-- Table Header -->
      <thead class="headerbg">
        <tr>
          <th nzWidth="80px" nzLeft *ngIf="showcolor3 != 1">Action</th>

          <th nzWidth="80px" nzLeft *ngIf="showcolor3 == 1 || showcolor0 == 1">
            Preview
          </th>
          <th
            nzWidth="130px"
            nzLeft
            *ngIf="showcolor0 == 1"
            [nzSortFn]="true"
            nzColumnKey="SCHOOL_STATUS"
          >
            School Status
          </th>
          <th
            nzWidth="210px"
            nzLeft
            [nzSortFn]="true"
            nzColumnKey="SCHOOL_NAME"
          >
            School Name
          </th>
          <th nzWidth="210px" [nzSortFn]="true" nzColumnKey="PRINCIPLE_NAME">
            Principal Name
          </th>
          <th nzWidth="210px" [nzSortFn]="true" nzColumnKey="BOARD_NAME">
            Board Name
          </th>
          <th nzWidth="150px" [nzSortFn]="true" nzColumnKey="BOARD_MEDIUM_NAME">
            Board Medium Name
          </th>
          <th nzWidth="180px" [nzSortFn]="true" nzColumnKey=" EMAIL_ID">
            Email Id
          </th>
          <th nzWidth="130px" [nzSortFn]="true" nzColumnKey="PHONE_NUMBER">
            Mobile Number
          </th>

          <th nzWidth="260px" [nzSortFn]="true" nzColumnKey="ADDRESS">
            Address
          </th>
          <!-- <th nzWidth="160px" [nzSortFn]="true" nzColumnKey="COUNTRY_NAME">
            Country Name
          </th>
          <th nzWidth="160px" [nzSortFn]="true" nzColumnKey="STATE_NAME">
            State Name
          </th> -->
          <th nzWidth="100px" [nzSortFn]="true" nzColumnKey="DISTRICT_NAME">
            District Name
          </th>

          <th nzWidth="100px" [nzSortFn]="true" nzColumnKey="PINCODE">
            Pincode
          </th>
          <th [nzSortFn]="true" nzColumnKey="ACC_HOLDER_NAME" nzWidth="150px">
            Account Holder Name
          </th>

          <th [nzSortFn]="true" nzColumnKey="ACC_NO " nzWidth="120px">
            Account No.
          </th>
          <th [nzSortFn]="true" nzColumnKey="IFSC_CODE" nzWidth="110px">
            IFSC Code
          </th>
          <th [nzSortFn]="true" nzColumnKey="UPI_ID" nzWidth="120px">UPI ID</th>
          <th [nzSortFn]="true" nzColumnKey="BANK_NAME" nzWidth="150px">
            Bank Name
          </th>
          <!-- <th nzWidth="130px" [nzSortFn]="true" nzColumnKey="UPI_ID">Upi Id</th> -->

          <th nzWidth="90px" [nzSortFn]="true" nzColumnKey="YEAR">Year</th>

          <!-- <th nzColumnKey="{{ 'SEQ_NO' }}" [nzSortFn]="true" nzWidth="90px">
            Seq. No.
          </th> -->
          <th nzWidth="90px" [nzSortFn]="true" nzColumnKey="STATUS">Status</th>
        </tr>
      </thead>
      <!-- Table Body -->
      <tbody>
        <tr *ngFor="let data of schooltable.data">
          <td nzLeft style="text-align: center" *ngIf="showcolor3 != 1">
            <a (click)="edit(data)" nz-tooltip nzTooltipTitle="Edit">
              <span
                nz-icon
                nzType="edit"
                nzTheme="twotone"
                style="font-size: 15px"
              ></span>
            </a>
          </td>

          <td
            nzLeft
            style="text-align: center"
            *ngIf="showcolor3 == 1 || showcolor0 == 1"
          >
            <a (click)="Preview(data)" nz-tooltip nzTooltipTitle="Preview">
              <span
                nz-icon
                nzType="eye"
                style="cursor: pointer; color: blue; margin-right: 5px"
                nzTheme="outline"
              ></span>
            </a>
          </td>
          <td nzLeft style="text-align: center" *ngIf="showcolor0 == 1">
            <span
              *ngIf="data['SCHOOL_STATUS'] == 'P'"
              style="color: orange; font-weight: bold"
              >Pending</span
            >
            <span
              *ngIf="data['SCHOOL_STATUS'] == 'A'"
              style="color: green; font-weight: bold"
              >Approved</span
            >
            <span
              *ngIf="data['SCHOOL_STATUS'] == 'R'"
              style="color: red; font-weight: bold"
              >Reject</span
            >
            <span
              *ngIf="data['SCHOOL_STATUS'] == 'B'"
              style="color: gray; font-weight: bold"
              >Blocked</span
            >
          </td>

          <td
            nzLeft
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: left;
            "
            nz-tooltip
            [nzTooltipTitle]="data['SCHOOL_NAME']"
          >
            {{ data.SCHOOL_NAME }}
          </td>
          <td
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: left;
            "
            nz-tooltip
            [nzTooltipTitle]="data['PRINCIPLE_NAME']"
          >
            {{ data.PRINCIPLE_NAME }}
          </td>
          <td
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: left;
            "
            nz-tooltip
            [nzTooltipTitle]="data['BOARD_NAME']"
          >
            {{ data.BOARD_NAME }}
          </td>
          <td style="white-space: pre-line; text-align: left">
            {{ data.BOARD_MEDIUM_NAME }}
          </td>
          <td style="white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left; "
            nz-tooltip
            [nzTooltipTitle]="data['EMAIL_ID']">
            {{ data.EMAIL_ID }}
          </td>
          <td style="white-space: pre-line; text-align: center">
            {{ data["PHONE_NUMBER"] }}
          </td>
          <td
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: left;
            "
            nz-tooltip
            [nzTooltipTitle]="data['ADDRESS']"
          >
            {{ data.ADDRESS }}
          </td>
          <!-- <td style="white-space: pre-line; text-align: left">
            {{ data.COUNTRY_NAME }}
          </td>
          <td style="white-space: pre-line; text-align: left">
            {{ data.STATE_NAME }}
          </td> -->
          <td style="white-space: pre-line; text-align: left">
            {{ data.DISTRICT_NAME }}
          </td>

          <td style="white-space: pre-line; text-align: center">
            {{ data.PINCODE }}
          </td>

          <td
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: left;
            "
            nz-tooltip
            [nzTooltipTitle]="data['ACC_HOLDER_NAME']"
          >
            {{ data["ACC_HOLDER_NAME"] }}
          </td>

          <td
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: center;
            "
            nz-tooltip
            [nzTooltipTitle]="data['ACC_NO']"
          >
            {{ data["ACC_NO"] }}
          </td>
          <td
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: center;
            "
            nz-tooltip
            [nzTooltipTitle]="data['IFSC_CODE']"
          >
            {{ data["IFSC_CODE"] }}
          </td>
          <td
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: center;
            "
            nz-tooltip
            [nzTooltipTitle]="data['UPI_ID']"
          >
            {{ data.UPI_ID }}
          </td>
          <td
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-align: left;
            "
            nz-tooltip
            [nzTooltipTitle]="data['BANK_NAME']"
          >
            {{ data.BANK_NAME }}
          </td>

          <td style="white-space: pre-line; text-align: center">
            {{ data.YEAR }}
          </td>

          <!-- <td style="text-align: center; white-space: pre-line">
            {{ data["SEQ_NO"] }}
          </td> -->

          <td style="white-space: pre-line; text-align: center">
            <ng-container *ngIf="data.STATUS; else inactiveStatus">
              <span
                nz-icon
                nzType="check-circle"
                style="color: #52c41a"
                nzTheme="outline"
              ></span>
            </ng-container>
            <ng-template #inactiveStatus>
              <span
                nz-icon
                nzType="close-circle"
                style="color: red"
                nzTheme="outline"
              ></span>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<!-- Drawer Component for User Details -->
<div *ngIf="drawerVisible">
  <nz-drawer
    [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }"
    [nzClosable]="true"
    [nzMask]="true"
    [nzMaskClosable]="false"
    [nzWidth]="1250"
    [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle"
    (nzOnClose)="drawerClose()"
    (nzKeyboard)="(true)"
  >
    <ng-container *nzDrawerContent>
      <app-addschoolmaster
        [drawerClose]="closeCallback"
        [showState]="showState"
        [showDistrictByState]="showDistrictByState"
        [stateload]="stateload"
        [States]="States"
        [districts]="districts"
        [drawerVisible]="drawerVisible"
        [data]="drawerData"
        [isShowBlocked]="isShowBlocked"
      ></app-addschoolmaster>
    </ng-container>
  </nz-drawer>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="900"
  nzMask="false"
>
  <ng-template #modalTitle>School Details </ng-template>
  <ng-template #modalContent>
    <div id="print" style="height: 100%; padding: 5px">
      <div nz-row>
        <div nz-col nzSpan="12">
          <div nz-row>
            <div nz-col nzSpan="24">
              <div nz-row>
                <div nz-col nzSpan="8">
                  <b style="color: #333">School Name</b>
                </div>

                <div nz-col nzSpan="1">
                  <b>:</b>
                </div>
                <div nz-col nzSpan="15">
                  <span>{{ SCHOOL_DATALIST.SCHOOL_NAME }}</span>
                </div>
              </div>
            </div>

            <div nz-col nzSpan="24">
              <div nz-row>
                <div nz-col nzSpan="8">
                  <b style="color: #333">Principal Name</b>
                </div>

                <div nz-col nzSpan="1">
                  <b>:</b>
                </div>
                <div nz-col nzSpan="15">
                  <span>{{ SCHOOL_DATALIST.PRINCIPLE_NAME }}</span>
                </div>
              </div>
            </div>
          </div>

          <div nz-row>
            <div nz-col nzSpan="24">
              <div nz-row>
                <div nz-col nzSpan="8">
                  <b style="color: #333">Email Id</b>
                </div>

                <div nz-col nzSpan="1">
                  <b>:</b>
                </div>
                <div nz-col nzSpan="15">
                  <span>{{ SCHOOL_DATALIST.EMAIL_ID }}</span>
                </div>
              </div>
            </div>

            <div nz-col nzSpan="24">
              <div nz-row>
                <div nz-col nzSpan="8">
                  <b style="color: #333">Phone Number</b>
                </div>

                <div nz-col nzSpan="1">
                  <b>:</b>
                </div>
                <div nz-col nzSpan="15">
                  <span>{{ SCHOOL_DATALIST.PHONE_NUMBER }}</span>
                </div>
              </div>
            </div>
          </div>

          <div nz-row>
            <div nz-col nzSpan="24">
              <div nz-row>
                <div nz-col nzSpan="8">
                  <b style="color: #333">UPI Id</b>
                </div>

                <div nz-col nzSpan="1">
                  <b>:</b>
                </div>
                <div nz-col nzSpan="15">
                  <span>{{ SCHOOL_DATALIST.UPI_ID }}</span>
                </div>
              </div>
            </div>

            <div nz-col nzSpan="24">
              <div nz-row>
                <div nz-col nzSpan="8">
                  <b style="color: #333">Board</b>
                </div>

                <div nz-col nzSpan="1">
                  <b>:</b>
                </div>
                <div nz-col nzSpan="15">
                  <span>{{ SCHOOL_DATALIST.BOARD_NAME }}</span>
                </div>
              </div>
            </div>
          </div>

          <div nz-row>
            <div nz-col nzSpan="24">
              <div nz-row>
                <div nz-col nzSpan="8">
                  <b style="color: #333">Year</b>
                </div>

                <div nz-col nzSpan="1">
                  <b>:</b>
                </div>
                <div nz-col nzSpan="15">
                  <span>{{ SCHOOL_DATALIST.YEAR }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div nz-row>
            <div nz-col nzSpan="24">
              <div nz-row>
                <div nz-col nzSpan="8">
                  <b style="color: #333">Country</b>
                </div>

                <div nz-col nzSpan="1">
                  <b>:</b>
                </div>
                <div nz-col nzSpan="15">
                  <span>{{ SCHOOL_DATALIST.COUNTRY_NAME }}</span>
                </div>
              </div>
            </div>
          </div>

          <div nz-row>
            <div nz-col nzSpan="24">
              <div nz-row>
                <div nz-col nzSpan="8">
                  <b style="color: #333">State</b>
                </div>

                <div nz-col nzSpan="1">
                  <b>:</b>
                </div>
                <div nz-col nzSpan="15">
                  <span>{{ SCHOOL_DATALIST.STATE_NAME }}</span>
                </div>
              </div>
            </div>

            <div nz-col nzSpan="24">
              <div nz-row>
                <div nz-col nzSpan="8">
                  <b style="color: #333">District</b>
                </div>

                <div nz-col nzSpan="1">
                  <b>:</b>
                </div>
                <div nz-col nzSpan="15">
                  <span>{{ SCHOOL_DATALIST.DISTRICT_NAME }}</span>
                </div>
              </div>
            </div>
          </div>

          <div nz-row>
            <div nz-col nzSpan="24">
              <div nz-row>
                <div nz-col nzSpan="8">
                  <b style="color: #333">Pincode</b>
                </div>

                <div nz-col nzSpan="1">
                  <b>:</b>
                </div>
                <div nz-col nzSpan="15">
                  <span>{{ SCHOOL_DATALIST.PINCODE }}</span>
                </div>
              </div>
            </div>
            <div nz-col nzSpan="24">
              <div nz-row>
                <div nz-col nzSpan="8">
                  <b style="color: #333">Address</b>
                </div>

                <div nz-col nzSpan="1">
                  <b>:</b>
                </div>
                <div nz-col nzSpan="15">
                  <span>{{ SCHOOL_DATALIST.ADDRESS }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="width: 100%" *ngIf="StatusButton == 'P'">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-radio-group
            name="availfor"
            style="margin-top: 23px"
            [(ngModel)]="SCHOOL_DATALIST.SCHOOL_STATUS"
            required
          >
            <label nz-radio [nzValue]="'A'">Approve </label>
            <label nz-radio [nzValue]="'R'">Reject</label>
          </nz-radio-group>
        </div>
        <div
          nz-col
          nzSpan="12"
          *ngIf="SCHOOL_DATALIST.SCHOOL_STATUS == 'R'"
          class="custom-css-form-item"
        >
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>
              Enter
              {{ SCHOOL_DATALIST.SCHOOL_STATUS == "R" ? "Reject" : "Blocked" }}
              Remark
            </nz-form-label>
            <nz-form-control
              nzHasFeedback
              nzErrorTip="Please  Enter {{
                SCHOOL_DATALIST.SCHOOL_STATUS == 'R' ? 'Reject' : 'Blocked'
              }} Remark"
            >
              <textarea
                rows="2"
                required
                nz-input
                maxlength="256"
                minlength="2"
                name="remark1"
                placeholder="Enter Remark"
                [(ngModel)]="SCHOOL_DATALIST.REJECT_BLOCKED_REMARK"
              ></textarea>
              <span
                style="color: red; font-size: 10px"
                *ngIf="SCHOOL_DATALIST.REJECT_BLOCKED_REMARK"
                >{{ SCHOOL_DATALIST.REJECT_BLOCKED_REMARK.length }}/256</span
              >
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button
      *ngIf="StatusButton == 'P'"
      nz-button
      nzType="primary"
      (click)="SubmitStatus()"
    >
      Submit Status
    </button>
  </ng-template>
</nz-modal>
