.headerbg {
    text-align: center;
  }
 
  .custom-form-item nz-form-item{
     
    display: inline-block;
    margin-bottom: 5px;
    width: -webkit-fill-available;
    padding: 0px 10px;
 }

 .Elipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
 }