<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="20" nzLg="20" nzXl="8">
    <div class="formname">
      <b> {{ formTitle }} </b>
    </div>
  </div>

  <div
    nz-col
    nzXs="24"
    nzSm="24"
    nzMd="4"
    nzLg="6"
    nzXl="16"
    style="display: flex; justify-content: flex-end"
  >
    <form nz-form [nzLayout]="'inline'">
      <nz-form-item>
        <button nz-button [nzType]="isFilterApplied" (click)="showFilter()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input
            type="text"
            name="aboutsearch"
            (keyup)="keyup($event)"
            [(ngModel)]="searchText"
            nz-input
            placeholder=" Search Record"
          />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" (click)="search(true)" nzSearch>
            <i nz-icon nzType="search"></i>
          </button>
        </ng-template>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" (click)="add()" nzJustify="end">
          <i nz-icon nzType="plus"></i>Add New Activity
        </button>
      </nz-form-item>
    </form>
  </div>
</div>
<div nz-row style="margin-bottom: 14px">
  <div class="rowQuestion" nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <form nz-form>
          <div nz-row nzGutter="8" class="custom-form-item">
            <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="7" nzXl="7">
              <nz-form-item>
                <nz-form-label nzNoColon><b> Activity</b></nz-form-label>

                <nz-form-control nzErrorTip="Please Select Activity">
                  <nz-input-group nzCompact>
                    <nz-select
                      name="activitycategory"
                      nzPlaceHolder="Select Activity"
                      [(ngModel)]="ACTIVITY_ID"
                      style="width: 100%"
                      nzShowSearch
                      nzAllowClear
                      [nzLoading]="activityload"
                    >
                    <nz-option
                        *ngFor="let option of activitylist"
                        [nzValue]="option.ID"
                        [nzLabel]="option.ACTIVITY_NAME"
                      ></nz-option>
                    </nz-select>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            
            <div nz-col nzSpan="8">
              <nz-form-item>
                <nz-form-label nzNoColon>
                  <b>
                    Difficulty
                  </b>
                </nz-form-label>
                <nz-form-control
                  
                >
                  <nz-select
                    nz-input
                    nzAllowClear
                    nzShowSearch
                    nzPlaceHolder="Select Difficulty"
                    name="selDifficulty"
                    [(ngModel)]="CATEGORY"
                  >
                    <nz-option [nzValue]="'B'" nzLabel="Beginner"></nz-option>
                    <nz-option
                      [nzValue]="'I'"
                      nzLabel="Intermediate"
                    ></nz-option>
                    <nz-option [nzValue]="'E'" nzLabel="Elite"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          

          

            <div nz-col nzSpan="9">
              <nz-form-item
                style="margin-top: 20px; margin-left: 10px; padding-top: 13px"
              >
                <button
                  style="margin-right: 10px"
                  nz-button
                  [nzLoading]="loadingRecords"
                  nzType="primary"
                  (click)="applyFilter()"
                  nzJustify="end"
                  [nzLoading]="isSpinning"
                >
                  <i nz-icon nzType="filter"></i>Apply Filter
                </button>

                <button nz-button nzType="primary" (click)="clearFilter()">
                  <i nz-icon nzType="filter"></i>Clear Filter
                </button>
              </nz-form-item>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br />
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-table
      class="my-scroll no-wrap1"
      nzBordered
      #ActivitySubCateogarytable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzData]="dataList"
      [nzLoading]="loadingRecords"
      [nzSize]="'small'"
      [nzScroll]="{ x: '1200px', y: '55vh' }"
      [nzTotal]="totalRecords"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)"
      (nzQueryParams)="sort($event)"
    >
      <thead>
        <tr>
          <th nzWidth="25px" nzLeft style="text-align: center">Action</th>

          <th
            nzColumnKey="{{ 'ACTIVITY_NAME' }}"
            [nzSortFn]="true"
            nzWidth="60px"
            style="text-align: center"
          >
            Activity Name
          </th>
          <th
            nzColumnKey="{{ 'CATEGORY' }}"
            [nzSortFn]="true"
            nzWidth="60px"
            style="text-align: center"
          >
            Difficulty
          </th>
          <th
            nzColumnKey="{{ 'ACTIVITY_TYPE' }}"
            [nzSortFn]="true"
            nzWidth="60px"
            style="text-align: center"
          >
            Activity Type
          </th>
          <th
            nzColumnKey="{{ 'ACTIVITY_VALUE' }}"
            [nzSortFn]="true"
            nzWidth="65px"
            style="text-align: center"
          >
            Activity Timing
          </th>

          <th
            nzWidth="60px"
            nzColumnKey="{{ 'ACTIVITY_VALUE' }}"
            [nzSortFn]="true"
          >
            Activity Repetition
          </th>
          <th
            nzColumnKey="{{ 'ACTIVITY_VALUE' }}"
            [nzSortFn]="true"
            nzWidth="65px"
            style="text-align: center"
          >
            Distance
          </th>
          <th
            nzWidth="60px"
            nzColumnKey="{{ 'ACTIVITY_VALUE' }}"
            [nzSortFn]="true"
            style="text-align: center"
          >
            Weight
          </th>

          <!-- <th nzColumnKey="{{ 'CODE' }}" [nzSortFn]="true" nzWidth="31px" style="text-align: center">
              Sub Cateogary Code
            </th> -->

          <!-- <th nzColumnKey="{{ 'SEQ_NO' }}" [nzSortFn]="true" nzWidth="20px" style="text-align: center">
              Seq. No.
            </th> -->
          <th
            nzColumnKey="{{ 'STATUS' }}"
            [nzSortFn]="true"
            nzWidth="30px"
            style="text-align: center"
          >
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ActivitySubCateogarytable.data">
          <td style="text-align: center" nzLeft>
            <i
              nz-icon
              nzType="edit"
              nz-tooltip
              nzTooltipTitle="Edit"
              nzTheme="twotone"
              (click)="edit(data)"
            ></i>
          </td>
          <td
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            "
            nz-tooltip
            [nzTooltipTitle]="data['ACTIVITY_NAME']"
          >
            {{ data["ACTIVITY_NAME"] }}
          </td>
          <td style="text-align: left; white-space: pre-line; text-align: left">
            <span *ngIf="data['CATEGORY'] == 'B'">Beginner</span>
            <span *ngIf="data['CATEGORY'] == 'I'">Intermediate</span>
            <span *ngIf="data['CATEGORY'] == 'E'">Elite</span>
          </td>
          <td style="text-align: left; text-align: left; white-space: pre-line">
            <span *ngIf="data['ACTIVITY_TYPE'] == 'T'">Activity Timing</span>
            <span *ngIf="data['ACTIVITY_TYPE'] == 'S'"
              >Activity Repetition</span
            >
            <span *ngIf="data['ACTIVITY_TYPE'] == 'D'">Distance</span>
            <span *ngIf="data['ACTIVITY_TYPE'] == 'W'">Weight</span>
          </td>
          <td style="text-align: center">
            <span *ngIf="data['ACTIVITY_TYPE'] == 'T'; else activityValueSec">
              {{ data["ACTIVITY_VALUE"] }} Sec
            </span>
            <ng-template #activityValueSec>
              <span style="text-align: center"> - </span>
            </ng-template>
          </td>

          <td style="text-align: center">
            <span *ngIf="data['ACTIVITY_TYPE'] == 'S'; else activityValue">
              {{ data["ACTIVITY_VALUE"] }}
            </span>
            <ng-template #activityValue>
              <span style="text-align: center"> - </span>
            </ng-template>
          </td>
          <td style="text-align: center">
            <span *ngIf="data['ACTIVITY_TYPE'] == 'D'; else activityValueDis">
              {{ data["ACTIVITY_VALUE"] }} Mtr
            </span>
            <ng-template #activityValueDis>
              <span style="text-align: center"> - </span>
            </ng-template>
          </td>
          <td style="text-align: center">
            <span *ngIf="data['ACTIVITY_TYPE'] == 'W'; else activityvalueKg">
              {{ data["ACTIVITY_VALUE"] }} Kg
            </span>
            <ng-template #activityvalueKg>
              <span style="text-align: center"> - </span>
            </ng-template>
          </td>
          <!-- <td style="white-space: pre-line; text-align: center">
              {{ data["CODE"] }}
            </td> -->

          <!-- <td style="text-align: center">{{ data["SEQ_NO"] }}</td> -->
          
          <td style="text-align: center">
            <i
              nz-icon
              *ngIf="data['STATUS']"
              [nzType]="'check-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"
            ></i>
            <i
              nz-icon
              *ngIf="!data['STATUS']"
              [nzType]="'close-circle'"
              [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"
            ></i>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<div *ngIf="drawerVisible">
  <nz-drawer
    [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }"
    [nzClosable]="true"
    [nzMask]="true"
    [nzMaskClosable]="false"
    [nzWidth]="500"
    [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle"
    (nzOnClose)="drawerClose()"
    (nzKeyboard)="(true)"
  >
    <ng-container *nzDrawerContent>
      <div>
        <form nz-form #websitebannerPage="ngForm">
          <nz-spin [nzSpinning]="isSpinning">
            <div nz-row class="custom-form-item">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>
                    Activity Category
                  </nz-form-label>
                  <nz-form-control
                    nzHasFeedback
                    nzErrorTip=" Please Select Activity Category "
                  >
                    <nz-select
                      nz-input
                      nzAllowClear
                      nzShowSearch
                      nzPlaceHolder="Select Activity Category"
                      name="activitycategory"
                      [nzLoading]="activitycategoryload"
                      [(ngModel)]="drawerData.ACTIVITY_CATEGORY_ID"
                      required
                      (ngModelChange)="getActivitieswithFilter($event)"
                      (ngModelChange)="onChangeevent($event)"
                    >
                      <nz-option
                        *ngFor="let option of activitycategorylist"
                        [nzValue]="option.ID"
                        [nzLabel]="option.CATEGORY_NAME"
                      ></nz-option>
                    </nz-select>
                    <!-- <nz-select
                      *ngIf="drawerData.ID"
                      nz-input
                      nzAllowClear
                      nzShowSearch
                      nzPlaceHolder="Select Activity Category"
                      name="activitycategory"
                      [nzLoading]="activitycategoryload"
                      [(ngModel)]="drawerData.ACTIVITY_CATEGORY_ID"
                      (ngModelChange)="getActivitySubCategory($event)"
                    >
                      <nz-option
                        *ngFor="let option of activitycategorylist"
                        [nzValue]="option.ID"
                        [nzLabel]="option.CATEGORY_NAME"
                      ></nz-option>
                    </nz-select> -->
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>
                    Difficulty
                  </nz-form-label>
                  <nz-form-control
                    nzHasFeedback
                    nzErrorTip=" Please Select Difficulty"
                  >
                    <nz-select
                      nz-input
                      nzAllowClear
                      nzShowSearch
                      nzPlaceHolder="Select Difficulty"
                      name="Difficulty"
                      [(ngModel)]="drawerData.CATEGORY"
                      required
                    >
                      <nz-option [nzValue]="'B'" nzLabel="Beginner"></nz-option>
                      <nz-option
                        [nzValue]="'I'"
                        nzLabel="Intermediate"
                      ></nz-option>
                      <nz-option [nzValue]="'E'" nzLabel="Elite"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>
                    Activity Name
                  </nz-form-label>
                  <nz-form-control
                    nzHasFeedback
                    nzErrorTip=" Please Select Activity Name "
                  >
                    <nz-select
                      nz-input
                      name="activityname"
                      [(ngModel)]="drawerData['ACTIVITY_ID']"
                      nzPlaceHolder="Select Activity Name"
                      nzShowSearch
                      nzAllowClear
                      required
                      [nzDisabled]="!drawerData.ACTIVITY_CATEGORY_ID"
                    >
                      <nz-option
                        *ngFor="let option of activitylist"
                        [nzValue]="option.ID"
                        [nzLabel]="option.ACTIVITY_NAME"
                      ></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>
                    Activity Type
                  </nz-form-label>
                  <nz-form-control
                    nzHasFeedback
                    nzErrorTip=" Please Select Activity Type "
                  >
                    <nz-select
                      nz-input
                      nzAllowClear
                      nzShowSearch
                      nzPlaceHolder="Select Activity Type"
                      name="activitytype1"
                      [(ngModel)]="drawerData.ACTIVITY_TYPE"
                      (ngModelChange)="onTypeChange($event)"
                      required
                    >
                      <nz-option [nzValue]="'T'" nzLabel="Timing"></nz-option>
                      <nz-option
                        [nzValue]="'S'"
                        nzLabel="Repetition"
                      ></nz-option>
                      <nz-option [nzValue]="'D'" nzLabel="Distance"></nz-option>
                      <nz-option [nzValue]="'W'" nzLabel="Weight"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12" *ngIf="drawerData.ACTIVITY_TYPE == 'T'">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>
                    Activity Timing
                  </nz-form-label>
                  <nz-form-control nzErrorTip="Please Enter Time">
                    <nz-input-group [nzAddOnAfter]="addOnAfterTemplate4">
                      <input
                        type="number"
                        name="activitytime"
                        autocomplete="off"
                        nz-input
                        (input)="onActivityTimingChange()"
                        maxlength="20"
                        [(ngModel)]="drawerData.ACTIVITY_VALUE"
                        required
                        placeholder="Enter Time"
                      />
                    </nz-input-group>

                    <ng-template #addOnAfterTemplate4>
                      <nz-select
                        name="timetype"
                        class="custom-select-width1"
                        [nzShowArrow]="false"
                        [nzDropdownStyle]="{
                          'padding-left': '2px',
                          'padding-right': '2px'
                        }"
                        style="width: 63px"
                        [(ngModel)]="TIMING_TYPE"
                        (ngModelChange)="onTimeTypeChange($event)"
                        required
                      >
                        <nz-option nzLabel="Sec" nzValue="Sec"></nz-option>
                        <nz-option nzLabel="Min" nzValue="Min"></nz-option>
                      </nz-select>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12" *ngIf="drawerData.ACTIVITY_TYPE == 'S'">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon
                    >Activity Repetition
                  </nz-form-label>
                  <nz-form-control
                    nzHasFeedback
                    nzErrorTip=" Please Select Activity Repetition"
                  >
                    <input
                      nz-input
                      name="activityset"
                      [(ngModel)]="drawerData.ACTIVITY_VALUE"
                      maxlength="128"
                      required
                      placeholder="Enter Repetition"
                    />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12" *ngIf="drawerData.ACTIVITY_TYPE == 'D'">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon> Distance </nz-form-label>
                  <nz-form-control nzErrorTip="Please Enter Distance">
                    <nz-input-group [nzAddOnAfter]="addOnAfterTemplate5">
                      <input
                        type="number"
                        name="distance"
                        autocomplete="off"
                        maxlength="20"
                        nz-input
                        [(ngModel)]="drawerData.ACTIVITY_VALUE"
                        required
                        placeholder="Enter Distance"
                      />
                    </nz-input-group>
                    <ng-template #addOnAfterTemplate5>
                      <nz-select
                        name="distancetype"
                        class="custom-select-width1"
                        [nzShowArrow]="false"
                        [nzDropdownStyle]="{
                          'padding-left': '2px',
                          'padding-right': '2px'
                        }"
                        style="width: 63px"
                        [(ngModel)]="DISTANCE_TYPE"
                        required
                      >
                        <nz-option nzLabel="Mtr" nzValue="mtr"></nz-option>
                        <nz-option nzLabel="Km" nzValue="km"></nz-option>
                      </nz-select>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12" *ngIf="drawerData.ACTIVITY_TYPE == 'W'">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon> Weight </nz-form-label>
                  <nz-form-control nzErrorTip="Please Enter Weight">
                    <nz-input-group [nzAddOnAfter]="addOnAfterTemplate6">
                      <input
                        type="number"
                        name="weight"
                        autocomplete="off"
                        maxlength="20"
                        nz-input
                        [(ngModel)]="drawerData.ACTIVITY_VALUE"
                        required
                        placeholder="Enter Weight"
                      />
                    </nz-input-group>
                    <ng-template #addOnAfterTemplate6>
                      <nz-select
                        name="weighttypeselect"
                        class="custom-select-width1"
                        [nzShowArrow]="false"
                        [nzDropdownStyle]="{
                          'padding-left': '2px',
                          'padding-right': '2px'
                        }"
                        style="width: 63px"
                        [(ngModel)]="WEIGHT_TYPE"
                        required
                      >
                        <nz-option nzLabel="Kg" nzValue="kg"></nz-option>
                        <nz-option nzLabel="Gm" nzValue="gm"></nz-option>
                      </nz-select>
                    </ng-template>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <!-- <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired nzNoColon>
                    Sequence No.
                  </nz-form-label>
                  <nz-form-control
                    nzHasFeedback
                    nzErrorTip=" Please Enter Correct Sequence Number "
                  >
                    <input
                      nz-input
                      placeholder="Sequence No."
                      name="unitseq"
                      style="width: 100%"
                      minlength="1"
                      [(ngModel)]="drawerData.SEQ_NO"
                      (keypress)="commonFunction.omit($event)"
                      maxlength="5"
                      required
                    />
                  </nz-form-control>
                </nz-form-item>
              </div> -->

              <div nz-col nzSpan="8">
                <nz-form-item>
                  <nz-form-label nzNoColon> Status </nz-form-label>
                  <nz-form-control>
                    <nz-switch
                      name="unitstatus"
                      [(ngModel)]="drawerData.STATUS"
                      nzCheckedChildren="Active"
                      nzUnCheckedChildren="Inactive"
                    ></nz-switch>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </nz-spin>
        </form>

        <div class="footer">
          <button
            type="button"
            nz-button
            (click)="close()"
            class="ant-btn"
            style="margin-right: 8px"
          >
            <span> Cancel </span>
          </button>
          <button
            type="button"
            class="ant-btn ant-btn-primary"
            *ngIf="!drawerData.ID"
            nz-button
            nz-dropdown
            [nzDropdownMenu]="menu"
            [nzLoading]="isSpinning"
            (click)="save(false, websitebannerPage)"
          >
            <span> Save & Close</span>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li
                nz-menu-item
                class="menuc"
                style="border-radius: 4px; background-color: #40a9ff"
              >
                <a style="color: white" (click)="save(true, websitebannerPage)">
                  Save & New</a
                >
              </li>
            </ul>
          </nz-dropdown-menu>
          <button
            type="button"
            class="ant-btn ant-btn-primary"
            nz-button
            [nzLoading]="isSpinning"
            *ngIf="drawerData.ID"
            (click)="save(false, websitebannerPage)"
          >
            <span> Update & Close</span>
          </button>
        </div>
      </div>
    </ng-container>
  </nz-drawer>
</div>
